body{
    margin: 0;
    padding: 0;
}
.first-section{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
#border-left{
    border-left: 5px solid rgba(240, 102, 56, 0.973);
    line-height: 45px;
    font-family: 'DM Serif Text', serif;
    font-size: 40px;
    border-radius: 3px;
}
.heading-color{
    color: rgb(230, 172, 66);
}
.div-image{
    height: 100%;
    margin-left: 10%;
}
.div-image img{
    height: 100%;
    width: 100%;
}
.main-heading{
    padding-left: 25px;
}

.introduction{
        padding-right: 5%;
       }
.poppins{
    font-family: 'Poppins', sans-serif;
}
.link-button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(45deg, salmon, rgb(241, 143, 51));
    padding: 10px 20px;
    border-radius: 8px;
}
.oswald{
    font-family: 'Oswald', sans-serif;
}
.mission-vision-goal{
    width: 300px;
    height: 350px;
    border-radius: 15px;
    padding: 30px 20px;
}
.mission-vision-goal img{
    height: 100px;
    width: 100px;
}
.text-align{
    text-align: center;
    font-size: 50px;
}
#mision{
background-color: rgb(231, 207, 210);
}
#vision{
background-color: rgb(209, 215, 223);
}
#goal{
    background-color: rgb(240, 240, 171);
}
.article-image img{
    height: 300px;
    width: 300px;
    margin-right: 40px;
    margin-left: 35px;
}
.article-heading{
    font-size: 35px;
    font-weight: 900;
}
#last-div{
height: 150px;
background-color: black;
color: white;
text-align: center;
border: 1px solid black;
padding-top: 5px;
padding-bottom: 10px;
}
#lobster{
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
#red{
    color: red;
}